body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: lightskyblue;
}
.game{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: whitesmoke;
}
.parent{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.child{
    border: 1px solid red;
    width: 400px;
    height: 400px;
}


/* .card {
    height: 50vh;
    width: 27vw;
    background-color: red;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.child {

}

.card-img {
    width: 100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} */